<!DOCTYPE html>
<html lang="es-es">
  {% load static %}
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OSINspecTor</title>
    <link rel="icon" type="image/png" href="{% static "ico/lupa.png" %}" />
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" />

  </head>

  <body>

    <!-- Navigation -->
    <nav>
      <a href="{% url 'index'%}">Inicio</a>
      |
      <a href="{% url 'index'%}">Búsqueda por Dominio</a>
      |
      <a href="{% url 'index'%}">Búsqueda por IP</a>
      <hr>
    </nav>

    <!-- Page Content -->
    <section>
      <div>
      
        {% block content %}{% endblock %}

      </div>
    </section>

    <!-- Footer -->
    <footer>
      <hr>
      <p>Desarrollado por Daniel Feito Pin, Ignacio Borregán Naya y Paula Serrano Chans para PI.</p>
    </footer>

  </body>

</html>