{% extends "base.html" %} {%block content%}

<div>
  <p><h1>{{ cabecera }}</h1></p>
</div>

<div>
  <form id="form-search" autocomplete="off" onsubmit="return false">
    <label for="form_input">{{ form_label }}</label>
    <input id="form_input" class="focusable form-element" type="text"/>
  </form>
</div>

{% for id,label in buttons %}
    <button id="{{ id }}" class="btn btn-outline-secondary" type="button"><i class="material-icons right">{{ label }}</i></button>
{% endfor %}

<br>

{% endblock %}