{% extends "base.html" %} {%block content%}

<p><h1>Descripción de la aplicación</h1></p>
<p> 
    OSINTspecTor es una aplicación web en la que juntamos muchas herramientas utiles para trabajos de information gathering como geolocalización, busqueda desubdominios o resolución inversa entre otras. Hoy en día para poder descubrir información sobre dominios o IPs tenemos que combinar y recopilar información de diferentes fuentes pero con OSINTspecTor te mostramos una solución facil y compacta para poder tener toda la información en un solo lugar. Nosotros ofrecemos dos opciones de busqueda o bien por dominio o por IP.
</p>    

<p><h2>Descripción de la búsqueda por dominio</h2></p>
<p>
    En esta parte de la web se pueden realizar recopilación de información simplemente introduciendo en la barra de búsqueda el dominio del cuál queramos saber sus datos. A continuación realizaremos una de las peticiones disponibles pulsando el botón, entre ellas se encuentra la geolocalización, busqueda de subdominios, descubrimiento de servidores DNS, obtención de servidores de correo, busquedas de direcciones de correo, rangos de IPs y vulnerabilidades.
</p>

<p><h2>Descripción de la búsqueda por IP</h2></p>
<p>
    También ofrecemos obtención de información a traves de IPs, de la misma forma que en la búsqueda por dominio introducimos la IP de la entidad de la que queramos información y decidimos que es lo que deseamos obtener. Esta aplicación ofrece geolocalización, resolución inversa, y muestra de vulnerabilidades.
</p>
<br>

{% endblock %}