{% extends "base.html" %} {%block content%}

<p><h1>Descripción de la aplicación</h1></p>
<p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id tincidunt ex. Phasellus posuere varius justo, quis blandit nisi tempus ac. Donec posuere nunc vel fringilla pretium. Curabitur vel est molestie, euismod lorem sed, facilisis nunc. Donec posuere viverra laoreet. Aliquam metus quam, hendrerit in tincidunt eget, ultrices eu neque. Mauris lorem eros, aliquam vel blandit at, maximus ut tellus. Aenean a finibus eros. Nulla id cursus massa, ut interdum libero. Ut non turpis tempus, condimentum dui in, bibendum sem. Sed ornare massa a suscipit facilisis. Aliquam eu placerat sem, sed vulputate nisl. Morbi porta mi ut diam tempus, quis posuere magna ultrices.
</p>    

<p><h2>Descripción de la búsqueda por dominio</h2></p>
<p>
    Ut interdum vulputate pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu purus a justo efficitur sodales in ut lacus. Etiam enim tortor, mattis et faucibus et, tempus at metus. Donec eget semper libero. Praesent in tellus lobortis, blandit enim sit amet, tristique sem. Duis tincidunt aliquet erat vel ornare. Sed sollicitudin placerat felis id aliquam. Ut efficitur ac nunc eget malesuada. Morbi convallis velit mi, in luctus quam laoreet ut. Aenean eu felis erat. Duis mattis ullamcorper nulla, eu euismod erat ultricies ac. Vivamus eleifend libero nec tortor varius lacinia. Vestibulum consectetur augue nec nisi ornare vehicula. Fusce consectetur sem sed elit euismod laoreet. Vivamus et sollicitudin dolor.
</p>

<p><h2>Descripción de la búsqueda por IP</h2></p>
<p>
    Ut hendrerit lorem eu nibh consequat vulputate. In non nulla ligula. Donec sed consectetur orci, nec ultrices ex. Donec a porttitor ante, nec commodo diam. Fusce posuere eros ut diam tincidunt, nec interdum velit vulputate. Vestibulum vitae eros rhoncus, viverra nisl et, fringilla ex. Donec vel ullamcorper augue. Integer pellentesque scelerisque orci, at euismod nunc mattis ac. Vestibulum congue ipsum tempor mauris consectetur, in fringilla urna venenatis. In ultrices ut libero sagittis tincidunt. Nullam eget laoreet lacus. Nulla imperdiet ligula sed lectus efficitur lobortis. Ut elementum at lorem id fringilla. Aliquam nunc nunc, gravida vel dignissim elementum, tempus at tortor. Nunc eget felis eget urna ultrices iaculis. </p>
</p>
<br>

{% endblock %}